{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>车情六处-关于我们</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<!--[if lt IE 9]>
		<script src="{% static 'js/ie-support/html5.js' %}"></script>
		<script src="{% static 'js/ie-support/respond.js' %}"></script>
		<![endif]-->

	</head>


	<body>

		<div id="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/login1" id="branding">
						<img src="{% static 'images/logo.png' %}" alt="" class="logo">
						<div class="logo-text">
							<h1 class="site-title">车情六处</h1>
							<small class="site-description">预见未来</small>
						</div>
					</a>    <!-- #branding -->

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/index">主页</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</div> <!-- .site-header -->

			<main class="main-content">

				<div class="page">
					<div class="container">
						<h2 class="entry-title">企业相关</h2>

						<p>本公司专注于汽车销量预测，因为专业，所以信赖</p>

						<figure class="align-left"><img src="{% static 'dummy/专业团队2.png' %}" alt="Single image"></figure>
						<i>车情六处</i>

						<p>如特工般收集情报，精密算法进行预测</p>

						<p>&emsp;&emsp;车情六处汽车销售预测系统于2020-2021跨年之际上线，本系统旨在为所有客户提供专业，精准的汽车销量预测服务。经过半个月的发展，本系统已具有一定的规模及实力，现拥有一支技术精湛的it及汽车领域的专业服务团队，以卓越的服务品质，专业安全的技术服务实力，为不同群体的用户提供更优质的服务！我们，就是专业团队！</p>

						<hr class="separator">


						<div class="row">
							<div class="col-md-3">
								<div class="feature-numbered">
									<div class="num">1</div>
									<h2 class="feature-title">公司口号</h2>
									<p>精彩，只因你我同行！</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="feature-numbered">
									<div class="num">2</div>
									<h2 class="feature-title">服务项目</h2>
									<p>&emsp;&emsp;所有车型信息查看，市场热门车型实时更新，车辆销量排行,汽车销量预测一条龙汽车服务系统。</p>

								</div>
							</div>
							<div class="col-md-3">
								<div class="feature-numbered">
									<div class="num">3</div>
									<h2 class="feature-title">服务目标</h2>
									<p>&emsp;&emsp;努力成为所有客户最满意的汽车服务提供者，我们相信有您的支持我们会做的更好！</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="feature-numbered">
									<div class="num">4</div>
									<h2 class="feature-title">服务理念</h2>
									<p>&emsp;&emsp;诚信为本、实力为先，全心全意为客户 ，我们公司秉承客户至上、服务至上的经营理念，以卓越的服务品质、专业的技术服务实力、技术精湛的客户服务团队，保障客户在信息时代的高速路上驰骋，又以稳固、发展、忠诚、高效、团结与创新的精神，尊重人才注重技术，使客户在享受信息科技发展最新成果的同时不断获得最大的收益。</p>
								</div>
							</div>
						</div>

						<hr class="separator">

						<h2 class="section-title">开发者说</h2>
						<div class="row">
							<div class="col-md-4">
								<blockquote class="testimonial">
									<p>全世界无产者们联合起来！</p>
									<cite>施总</cite>
								</blockquote>
								<blockquote class="testimonial">
									<p>车情六处，预见未来！</p>
									<cite>张总</cite>
								</blockquote>
							</div>
							<div class="col-md-4">
								<blockquote class="testimonial">
									<p>我们不生产汽车，我们只是汽车销量的预测者。</p>
									<cite>叶总</cite>
								</blockquote>
								<blockquote class="testimonial">
									<p>用最前沿的算法，预测出最新的销量，你值得拥有！</p>
									<cite>金总</cite>
								</blockquote>
							</div>
							<div class="col-md-4">
								<blockquote class="testimonial">
									<p>以上都是我胡说的。</p>
									<cite>施总</cite>
								</blockquote>
								<blockquote class="testimonial">
									<p>出了岔子别找我。</p>
									<cite>李总</cite>
								</blockquote>
							</div>
						</div>
					</div>
				</div> <!-- .page -->

			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="pull-left">

						<address>
							<strong>车情六处</strong>
							<p>南湖 CCNU</p>
						</address>

						<a href="#" class="联系方式">8671-9999</a>
					</div> <!-- .pull-left -->
					<div class="pull-right">

						<div class="社交软件">

							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-weibo"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>

						</div>

					</div> <!-- .pull-right -->

					<div class="colophon">Copyright 2021 车情六处. 设计自 <a href="https://www.bilibili.com/bangumi/play/ss844/?from=search&seid=113825635754959603" title="设计 来自 歪比巴卜" target="_blank">www.pixiv.com</a>憨憨施锐</div>

				</div> <!-- .container -->
			</footer> <!-- .site-footer -->
		</div>

		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'js/plugins.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>

	</body>

</html>